<!-- CTA -->
<section id="cta">

	<h2>Sign up to the mailing list to keep in touch</h2>
    <!--<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>-->

	<form accept-charset="utf-8" action="https://tanglegence.us17.list-manage.com/subscribe/post?u=31c5ea412bea1f72ace39eedf&amp;id=d01aad5b5c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
        <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
		<div class="row uniform 50%">
			<div class="8u 12u(mobilep)">
				<input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Email Address" required="">
			</div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_31c5ea412bea1f72ace39eedf_d01aad5b5c" tabindex="-1" value=""></div>
            <div class="4u 12u(mobilep)">
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="fit">
			</div>
		</div>
	</form>

</section>
