<!-- Footer -->
<footer id="footer">
	<ul class="icons">
        <li><a href="https://www.linkedin.com/company/{{ site.social.linkedin }}" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
        <li><a href="https://twitter.com/{{ site.social.twitter }}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://github.com/{{ site.social.github }}" class="icon fa-github"><span class="label">GitHub</span></a></li>
	</ul>
	<ul class="copyright">
		<li>&copy; {{ site.title }}. All rights reserved.</li>
		<li><a href="/privacy">Privacy Policy</a></li>
		<li><a href="https://www.crunchbase.com/organization/tanglegence">Crunchbase</a></li>
	</ul>
</footer>

</div>

<!-- Scripts -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.scrollgress.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/skel.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>

</body>
</html>
